<mat-card class="bike-order">
  <mat-card-header>
    <mat-card-title>Ordering a bicycle</mat-card-title>
  </mat-card-header>
  <form [formGroup]="orderForm" class="order-form">
    <mat-card-content>
      <h5>1. General information</h5>
      <div class="datepickers">
        <mat-form-field>
          <input matInput [matDatepicker]="dateFrom" placeholder="Start Date of rental">
          <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
          <mat-datepicker #dateFrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="dateTo" placeholder="End Date of rental">
          <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
          <mat-datepicker #dateTo></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-form-field  class="your-amount">
        <input matInput placeholder="Your amount" formControlName="amount" [(ngModel)]="f.amount.value"/>
      </mat-form-field>
      <h5>2. Form of payment</h5>
      <mat-radio-group aria-label="Select an option" formControlName="paymentMethod" [(ngModel)]="f.paymentMethod.value">
        <mat-radio-button color="primary" value="cash">Cash payment</mat-radio-button>
        <mat-radio-button color="primary" value="card">Payment by card</mat-radio-button>
      </mat-radio-group>
      <div class="card-payment" *ngIf="f.paymentMethod.value==='card'">
        <h5>3. Credit card information</h5>
        <div class="card-info">
          <mat-form-field  class="card-number">
            <input matInput placeholder="Credit Card Number" value="xxxx xxxx xxxx xxxx">
          </mat-form-field>
          <mat-form-field  class="expir-date">
            <input matInput placeholder="Expiration Date" value="MM/YYYY">
          </mat-form-field>
          <mat-form-field  class="security-code">
            <input matInput placeholder="Security Code" value="CVC">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <button mat-raised-button color="primary">Order</button>
    <button mat-raised-button color="primary">Cancel</button>
  </form>
</mat-card>