<mat-card class="bike-order">
  <mat-card-header>
    <mat-card-title>Ordering a bicycle</mat-card-title>
  </mat-card-header>
  <form [formGroup]="orderForm" class="order-form">
    <mat-card-content>
      <h5>1. General information</h5>
      <div class="datepickers">
        <mat-form-field>
          <input matInput [matDatepicker]="dateFrom" placeholder="Start Date of rental">
          <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
          <mat-datepicker #dateFrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="dateTo" placeholder="End Date of rental">
          <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
          <mat-datepicker #dateTo></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-form-field  class="your-amount">
        <input matInput placeholder="Your amount" formControlName="amount" [(ngModel)]="f.amount.value"/>
      </mat-form-field>
    </mat-card-content>
    <button mat-raised-button color="primary" (click)="handlePayment()" >Order</button>
    <button mat-raised-button color="primary">Cancel</button>
  </form>
</mat-card>
