<mat-toolbar class="app-header">
    <a mat-button routerLink="/" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/my-account" routerLinkActive="active">My Account</a>
    <a mat-button routerLink="/search" routerLinkActive="active">Search</a>
    <a mat-button routerLink="/contact-us" routerLinkActive="active">Contact us</a>

    <div fxFlex fxLayout fxLayoutAlign="end">
        <div fxLayout fxLayoutGap="15px" class="navigation-items">
            <a mat-button routerLink="login" routerLinkActive="active" class="login-btn">Log in</a>
            <a mat-button routerLink="register" routerLinkActive="active" class="register-btn">Sign Up</a>
        </div>
    </div>
</mat-toolbar>