div {
  height: 100%;
  margin: 0;
  padding: 0;
  border-color: green;

}

.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: beige;
}

.example-container > * {
  width: 80%;
}

mat-card-title-group {
  display: flex;
  justify-content: center;
}


.container {
  background-image: url("../../../../assets/myAccount-bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // height: 100vh;

  .photocard {
    background-color: white;
    height: 200px;
    width: 200px;
    border: 2px solid gray;
    border-radius: 50%;

    img {
      height: 250px;
      width: 250px;
    }
  }

  .name {
    font-size: 24px;
    font-weight: bold;
  }

  .data {

    button {
      // margin: 20px;
      // height: 40px;
      // width: 100px;
      border: 2px solid gray;
      font-weight: bold;
      background-color: lightgray;
      cursor: pointer;
    }

    button:hover {
      background-color: lightslategray;
      color: white;
    }
  }

  .go-back {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }

  .go-back:hover {
    background-color: lightgrey;
    color: black;
  }
}

