<div class="wrapper">
    <div class="search">
        <ais-instantsearch class="search-container" [config]="config">
            <div class="filters-container">
                <div class="filters">
                    <h4>Your height:</h4>
                    <ais-refinement-list attribute="height"></ais-refinement-list>
                    <hr>
                    <h4>Brand:</h4>
                    <ais-refinement-list attribute="brand"></ais-refinement-list>
                    <hr>
                    <h4>Price:</h4>
                    <ais-refinement-list attribute="price"></ais-refinement-list>
                </div>
                <ais-clear-refinements class="refinements"></ais-clear-refinements>
            </div>
            <div class="search-results">
                <h1>Search your bicycle!</h1>
                <ais-search-box></ais-search-box>
                <ais-hits>

                    <ng-template let-hits="hits">
                        <div class='element' *ngFor="let hit of hits">
                            <img src="{{hit.image}}" alt="{{hit.name}}" align="left" class="element-image" />
                            <div class="element-info">
                                <h4>
                                    <ais-highlight attribute="name" [hit]="hit"></ais-highlight>
                                </h4>
                                <p>
                                    <ais-highlight attribute="description" [hit]="hit"></ais-highlight>
                                </p>
                                <p class="price">
                                    <b>Price: {{hit.price}}</b>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </ais-hits>
                <ais-pagination></ais-pagination>
            </div>
        </ais-instantsearch>
    </div>
</div>