<mat-toolbar color="primary" class="app-header">
    <span class="nav-tool-items">
        <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
        <a mat-button routerLink="register" routerLinkActive="active">Register</a>
        <a mat-button routerLink="/my-account" routerLinkActive="active">My Account</a>
        <a mat-button routerLink="/search" routerLinkActive="active">Search</a>
        <a mat-button routerLink="/contact-us" routerLinkActive="active">Contact us</a>
        <a mat-button routerLink="/**" routerLinkActive="active">Page not Found</a>
    </span>
</mat-toolbar>

<router-outlet></router-outlet>
