
<div class="bgimg-1">

  <div class="caption-top">
    <span class="logo" >
      <span id ="logo-text1">Bike</span>
      <span id ="logo-text2">Now</span>
      <span id ="logo-text3">Lviv</span>
    </span>
    <br>
    <br>
  </div>
  <div class="caption">
    <span class="slogan">If you want to share a bicycle &ndash; BikeNow is here for you.</span>
  </div>
</div>

<div class="top-div">
  <h3 style="text-align:center;">BikeNow is a service for sharing bicycles</h3>

  <p class="about-service">This service is designed for those who want to earn money by sharing their bicycle and for those who want to rent a bike.</p>
</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border" >Ride for pleasure</span>
  </div>
</div>

<div style="position:relative;">
  <div class="middle-div">
    <p>You can do more with a bike. Try our service to rent or share.</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border" >Ride for fun</span>
  </div>
</div>

<div class="reviews">

</div>

<div style="position:relative;">
  <div class="bottom-div">
    <p>Copyright ©BikeNow Lviv 2019 | All rights reserved.</p>
  </div>
</div>




