<p style="display:none">bikes-info works!</p>

<section  class="container">
  <div class="example-container">
    <mat-form-field>
      <mat-label>Brands</mat-label>
      <mat-select [value]="myBike[0].brand">
        <mat-option *ngFor="let brandsBikes of brands" [value]="brandsBikes.value">
          {{brandsBikes.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Model" value="{{myBike[0].model}}">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select [value]="myBike[0].categories">
        <mat-option *ngFor="let categoriesBikes of categories" [value]="categoriesBikes.value">
          {{categoriesBikes.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sizes</mat-label>
      <mat-select [value]="myBike[0].sizes">
        <mat-option *ngFor="let sizesBikes of sizes" [value]="sizesBikes.value">
          {{sizesBikes.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Color" value="{{myBike[0].color}}">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Weight" value="{{myBike[0].weight}}">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Frames</mat-label>
      <mat-select [value]="myBike[0].frames">
        <mat-option *ngFor="let frameBikes of frames" [value]="frameBikes.value">
          {{frameBikes.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Speeds" value="{{myBike[0].speeds}}">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Brakes</mat-label>
      <mat-select [value]="myBike[0].brakes">
        <mat-option *ngFor="let brakesBike of brakes" [value]="brakesBike.value">
          {{brakesBike.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Wheels diameter</mat-label>
      <mat-select  [value]="myBike[0].diameter_wheels">
        <mat-option *ngFor="let wheelsBikes of diameterWheels" [value]="wheelsBikes.value">
          {{wheelsBikes.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="save()">Save</button>
</section>