.container { 
  background-image: url("../../../../assets/myAccount-bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

.mat-panel-title, .mat-expansion-panel {
  background-color: rgba(0, 0, 0, 0);
}

.mat-expansion-panel {
  margin: 0% 10%;
  background-color: rgba(255, 255, 255, 0.4);
}

.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.mat-expansion-panel, .example-container > * {
  width: 80%;
}

button.mat-fab {
  font-weight: 50;
  font-size: 50px;
  position: fixed;
  right: 3%;
  bottom: 5%;
}