<mat-drawer-container class="my-account-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list>  
      <a mat-list-item [routerLink]="[{ outlets: { 'outlet-my-account': 'personal-info' } }]"> Personal Info </a>
      <a mat-list-item [routerLink]="[{ outlets: { 'outlet-my-account': 'bikes-info' } }]"> My Bikes </a>
      <a mat-list-item [routerLink]="[{ outlets: { 'outlet-my-account': 'history' } }]"> History </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet name="outlet-my-account"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


<section style="display:none" class="container">
  <mat-card-title-group><!--Grid row-->
    <!-- <div class="col-lg-6 col-md-6">Grid column -->
      <!-- <div class="photocard"> -->
      <img mat-card-lg-image src="{{ dataUser.photo }}" alt="profile-photo" class="photocard" />
      <!-- </div> -->
      <mat-card-title class="name">{{ dataUser.name }} {{ dataUser.surname }}</mat-card-title>
        <!-- <p></p>
        <p></p> -->
      
    <!-- </div> -->
  </mat-card-title-group>
  
    <mat-list class="data">
      <!-- <div class="my-data"> -->
        <mat-list-item>
          <button mat-raised-button>{{ dataUser.myDate_button }}</button>
        </mat-list-item>
        <mat-divider>
          <table>
            <!-- <ng-container matColumnDef="name"> -->
              <tr>
                <td>Email:</td>
                <td>{{ dataUser.email }}</td>
              </tr>
            <!-- </ng-container> -->
            <tr>
              <td>Phone number:</td>
              <td>{{ dataUser.phone }}</td>
            </tr>
            <tr>
              <td>Date of birth:</td>
              <td>{{ dataUser.birthday }}</td>
            </tr>
            <tr>
              <td>Your height:</td>
              <td>{{ dataUser.height }}</td>
            </tr>
          </table>
      </mat-divider>
      <!-- </div> -->
      <!-- <div class="my-bike"> -->
        <!-- <mat-list-item>
          <button mat-raised-button>{{ dataUser.myBike_button }}</button>
        </mat-list-item> -->
        <!-- <mat-divider>
          <table *ngFor="let arr of myBike">
            <tr>
              <td>Brand:</td>
              <td>{{ arr.brand }}</td>
            </tr>
            <tr>
              <td>Model:</td>
              <td>{{ arr.model }}</td>
            </tr>
            <tr>
              <td>Category:</td>
              <td>{{ arr.category }}</td>
            </tr>
            <tr>
              <td>Size:</td>
              <td>{{ arr.size }}</td>
            </tr>
            <tr>
              <td>Color:</td>
              <td>{{ arr.color }}</td>
            </tr>
            <tr>
              <td>Weight:</td>
              <td>{{ arr.weight }}</td>
            </tr>
            <tr>
              <td>Frame:</td>
              <td>{{ arr.frame }}</td>
            </tr>
            <tr>
              <td>Speeds:</td>
              <td>{{ arr.speeds }}</td>
            </tr>
            <tr>
              <td>Brakes:</td>
              <td>{{ arr.brakes }}</td>
            </tr>
            <tr>
              <td>Wheels diameter:</td>
              <td>{{ arr.wheels_diameter }}</td>
            </tr>
          </table>
        </mat-divider> -->
      <!-- </div> -->
    </mat-list>
  <!-- </div> -->
</section>